.operations-section {
  background-color: #2a3555;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Ajustar la tabla de operaciones */
.operations-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #2a3555;
  color: #fff;
}

.operations-table th, .operations-table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #1f2b40;
}

.operations-table th {
  background-color: #1f2b40;
  font-size: 16px;
}

.operations-table td {
  font-size: 14px;
}

.operations-table tr:hover {
  background-color: #1f2b40;
}
