.quotes-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.quotes-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.quote-item {
  background-color: #1f2b40;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 150px; /* Ajustamos el tamaño para que no sean tan grandes */
}

.quote-header {
  font-size: 16px;
  color: #fff;
}

.quote-price {
  font-size: 22px;
  color: #00f9a9;
  margin-top: 5px;
}
